/* font-family: 'Raleway', sans-serif;
font-family: 'Questrial', sans-serif; */

body {
  font-family: 'Raleway', sans-serif;
  /* for testing */
  background: pink;
}

.navbar .navbar-brand h3 {
  font-weight: 100;
}

.navbar .nav-item {
  font-size: 1.4rem;
  font-weight: 100;
}

.navbar .nav-link:hover {
  transition: border 0.2s;
  border-bottom: 1px solid white;
}

@media (max-width: 768px) {
  .navbar {
    background: #1f1f1f;
  }
  .navbar .nav-link:hover {
    border-bottom: none;
  }
}
