/* font-family: 'Raleway', sans-serif;
font-family: 'Questrial', sans-serif; */

body {
  font-family: 'Raleway', sans-serif;
  /* for testing */
  background: pink;
}

/* put navbar ontop of showcase image */
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.navbar .navbar-brand h3 {
  font-weight: 100;
}

.navbar .nav-item {
  font-size: 1.4rem;
  font-weight: 100;
}

.navbar .nav-link:hover {
  transition: border 0.2s;
  border-bottom: 1px solid white;
}

#showcase {
  background: url('/img/react-habr.jpeg') bottom center / cover no-repeat;
  height: 100vh;
}

#showcase h1 {
  font-family: 'Questrial', sans-serif;
  /* reduce space around the showcase header (also mb-0) */
  line-height: 1;
}

#showcase .btn {
  font-size: 1.2rem;
  border-radius: 1.2rem;
}

/* changes to bootstrap defaults*/
.btn-success {
  background: #01d9fc;
  border: none;
}

.btn-success:hover {
  background: #01fcb8;
  border: none;
}
@media (max-width: 768px) {
  .navbar {
    background: #1f1f1f;
  }
  .navbar .nav-link:hover {
    border-bottom: none;
  }
}
