/* font-family: 'Raleway', sans-serif;
font-family: 'Questrial', sans-serif; */

body {
  font-family: 'Raleway', sans-serif;
}

/* put navbar ontop of showcase image */
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

.navbar .navbar-brand h3 {
  font-weight: 100;
}

.navbar .nav-item {
  font-size: 1.4rem;
  font-weight: 200;
}

.navbar .nav-link:hover {
  transition: border 0.2s;
  border-bottom: 1px solid white;
}

#showcase {
  background: url('/img/Interview-React-2.jpg') bottom center / cover no-repeat;
  height: 100vh;
  position: relative;
}

#showcase #header {
  z-index: 4;
}

#showcase #overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#showcase h1 {
  font-family: 'Questrial', sans-serif;
  /* reduce space around the showcase header (also mb-0) */
  line-height: 1;
}

#showcase .btn {
  font-size: 1.2rem;
  border-radius: 1.2rem;
}

.section-heading {
  margin: 80px 0;
}

.section-heading h2 {
  font-weight: 700;
}

#projects {
  background: #f7f7f7;
  padding: 100px;
}

.fa-js-square {
  color: yellow;
}

.fa-react {
  color: #52aadd;
}

.fa-node {
  color: #72a864;
}

.about-text {
  font-weight: 400;
}
/* changes to bootstrap defaults*/
.btn-success {
  background: #01d9fc;
  border: none;
}

.btn-success:hover {
  background: #52aadd;
  border: none;
}
@media (max-width: 768px) {
  .navbar {
    background: #1f1f1f;
  }
  .navbar .nav-link:hover {
    border-bottom: none;
  }
}
